<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-thumbnail slot="start">
      <img class="icon" src="../../../assets/icon/user_icon.png" alt="" />
    </ion-thumbnail>
    <ion-list>
      <ion-label>Item Thumbnail</ion-label>
      <ion-label>Item Thumbnail</ion-label>
      <ion-label>Item Thumbnail</ion-label>
      <ion-label>Item Thumbnail</ion-label>
      <ion-label>Item Thumbnail</ion-label>
      <ion-label>Item Thumbnail</ion-label>
    </ion-list>
  </ion-item>
  <ion-button  (click)="detailUs()" expand="full" fill="outline"><ion-icon class="bt-icon" name="contact" slot="start"></ion-icon>Chi tiết cá nhân</ion-button>

  <ion-grid>
      <ion-row>
        <ion-col class="col-sm-mg-lg-3">
          <div>
            <ion-button shape="round" >Kết quả học tập</ion-button>
          </div>
        </ion-col>
        <ion-col class="col-sm-mg-lg-3">
          <div>
              <ion-button shape="round">sadsadsa</ion-button>
          </div>
        </ion-col>
        <ion-col class="col-sm-mg-lg-3">
          <div>
              <ion-button shape="round">sadsadasd</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
